.Project-Item {
    display: flex;
    flex-direction: row;
}

.Project-Container {
    background-color: slategrey;
    padding-bottom: 20px;
    padding-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 80%;
    margin-left: 10%;
}

#project-title {
    font-size: larger;
    font-weight: bold;
    margin-left: 5%;
}

#app-photo-linked {
    width: 35.9vw;
    height: 18.8vw;
    background-image: url("../Pictures/AFLApp.png");
    background-size: 35.9vw 18.8vw;
    border: 4px solid white;
    margin-left: 3.2vw;
}

#app-photo {
    width: 35.2vw;
    height: 18.8vw;
    border: 4px solid white;
    margin-left: 3.2vw;
}

#app-photo-linked:hover {
    border: 4px solid black;
}