body {
    margin: 0;
    font-family: "Roboto Light", serif;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

html {
    scroll-behavior: smooth;
}

hr {
    border: 1px solid slategrey;
    margin: 5px 20vw;
}


.Overall-App {
    min-width: 1200px;
}

.App-Container {
}

.Sections {
    font-size: large;
}

.Top {
    background-color: rgb(192, 200, 213);
}

.Skills {
    height: auto;
    background-color: rgb(192, 200, 213);
    padding: 20px;
}

.Projects {
    background-color: rgb(184, 161, 158);
    padding: 20px;
}

.Education {
    background-color: rgb(192, 200, 213);
    padding: 20px;
}

.About {
    background-color: rgb(184, 161, 158);
    padding: 20px;
}

.Contact {
    background-color: rgb(192, 200, 213);
    padding: 20px;
}

.Section-Body {
    min-height: 300px;
    padding: 10px;
}

#body-title {
    font-size: 2vw;
    margin-left: 50px;
}

#body-text {
    margin-left: 10px;
}

#section-title {
    background-color: transparent;
    font-size: x-large;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

.Photo-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#photo {
    width: 30vw;
    border: 2px solid black;
    margin: 20px;
}

#title-text {
    font-size: large;
    font-weight: bold;
}

#contact-text {
    text-align: center;
    padding-bottom: 100px;
}