body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

table, th, td {
    border: 1px solid black;
    text-indent: 0;
}

.Overall-App {
}

.App-Container {
    margin-left: 20vw;
}

.Name {
    font-size: 3.5vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./Pictures/Mountains.jpeg");
    background-repeat: no-repeat;
    background-size: 80vw auto;
    width: 80vw;
    padding-top: 50px;
}

#name-text {
    position: relative;
    top: calc(7vw - 50px);
}

.Sections {
    font-size: 1.5vw;
}

.Section-Header {
    border-top: 5px solid black;
    margin: 10px 10px;
}

.Section-Body {
    padding-left: 5px;
    text-indent: 3vw;
}

.Body-Item {
    display: flex;
    flex-direction: row;
}

.Grey-Background {
    background-color: lightgrey;
    padding: 10px;
    margin: 10px;
}

#body-title {
    font-size: 2vw;
    margin-left: 50px;
}

#body-text {
    margin-left: 10px;
}

#section-title {
    margin-top: 0;
    padding-bottom: 7px;
    padding-left: 5px;
    background-color: black;
    color: white;
    font-size: 3vw;
}

.Photo-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Logo-Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Logo-Item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#photo {
    width: 30vw;
    border: 2px solid black;
    margin: 20px;
}

#linkedIn {
    background-image: url("./Pictures/linkedin.jpg");
    background-repeat: no-repeat;
    background-size: 6.1vw 6.1vw;
    background-position: center;
    background-color: transparent;
    width: 6vw;
    height: 6vw;
    outline: none;
    border: none;
    border-radius: 3vw;
    margin-top: 5px;
}

#linkedIn:hover {
    box-shadow: 0 1vw 1.5vw black;
    margin-top: 0;
    transition: 0.3s;
}

#resume {
    background-image: url("./Pictures/Resume.png");
    background-repeat: no-repeat;
    background-size: 6vw 6vw;
    background-position: top;
    background-color: transparent;
    width: 6vw;
    height: 6vw;
    outline: none;
    border: none;
    border-radius: 3vw;
    margin-top: 5px;
}

#resume:hover {
    box-shadow: 0 1vw 1.5vw black;
    margin-top: 0;
    transition: 0.3s;
}

#github {
    background-image: url("./Pictures/github.png");
    background-repeat: no-repeat;
    background-size: 6vw 6vw;
    background-position: top;
    background-color: transparent;
    border: none;
    width: 6vw;
    height: 6vw;
    margin-top: 5px;
    border-radius: 3vw;
    outline: none;
}

#github:hover {
    box-shadow: 0 1vw 1.5vw black;
    margin-top: 0;
    transition: 0.3s;
}

.Logos {
    display: flex;
    justify-content: center;
}

.Labels {
    display: flex;
    justify-content: center;
}

#app-photo-linked {
    width: 35.9vw;
    height: 18.8vw;
    background-image: url("./Pictures/AFLApp.png");
    background-size: 35.9vw 18.8vw;
    border: 4px solid white;
}

#app-photo {
    width: 35.2vw;
    height: 18.8vw;
    border: 4px solid white;
    margin-left: 3.2vw;
}

#app-photo-linked:hover {
    border: 4px solid black;
}

#title-text {
    font-size: 2vw;
    text-decoration: underline;
}

#table {
    width: 40vw;
    margin-left: 10vw;
}
